<h1>Property binding</h1>
<input
  id="meu-input"
  [value]="inputText"
  [type]="inputType"
  [disabled]="isDisabled"

  (input)="handleInputEvent($event)" />

<br>

<button (click)="habilitarInput()">Habilitar</button>
<button (click)="desabilitarInput()">Desabilitar</button>
<br>
<button (click)="setPasswordTypeInput()">Senha</button>
<button (click)="setTextTypeInput()">Texto</button>
<br>
<button (click)="logInputText()">log</button>

<br>
<br>
<br>
<h1>Attribute binding</h1>
<button [attr.title]="buttonTitle">Teste</button>
<button [title]="buttonTitle">Teste</button>
<button [attr.disabled]="buttonDisabled ? true : null">Disabled</button>
<button (click)="onButtonClick()">Mudar props</button>
