<div style="background-color: green;" *ngIf="minhaProp; else meuTemplate">Sou uma div!</div>

<ng-template #meuTemplate>
  <div style="background-color: red;">Sou uma outra div!</div>
</ng-template>


<button (click)="toggleProp()">Alterar div</button>

<!-- <h1>Nome:</h1>
<input type="text" [(ngModel)]="name" (ngModelChange)="handleInputChange($event)">

<h1>Nome digitado: {{ name }}</h1> -->

<!--
  [ngModel]="name" <-- Input
  (ngModelChange)="handleInputChange($event)" <-- Output
  -->

<!-- <h1>Property binding</h1>
<input
  id="meu-input"
  [value]="inputText"
  [type]="inputType"
  [disabled]="isDisabled"

  (input)="handleInputEvent($event)" />

<br>

<button (click)="habilitarInput()">Habilitar</button>
<button (click)="desabilitarInput()">Desabilitar</button>
<br>
<button (click)="setPasswordTypeInput()">Senha</button>
<button (click)="setTextTypeInput()">Texto</button>
<br>
<button (click)="logInputText()">log</button>

<br>
<br>
<br>
<h1>Attribute binding</h1>
<button [attr.title]="buttonTitle">Teste</button>
<button [title]="buttonTitle">Teste</button>
<button [attr.disabled]="buttonDisabled ? true : null">Disabled</button>
<button (click)="onButtonClick()">Mudar props</button>

<br>
<br>
<br>
<h1>CSS binding</h1>
<button style="width: 100px; background-color: aqua;">Botão 0</button>
<br>
<button [style.width]="widthButton1" [style.backgroundColor]="backgropundCollorButton1">Botão 1</button>
<br>
<button [style.width.px]="widthButton2" [style.backgroundColor]="backgropundCollorButton1">Botão 2</button>
<br>
<button [style]="'width: 140px; background-color: yellow;'">Botão 3</button>
<br>
<button [style]="{ width: '150px', backgroundColor: 'orange' }">Botão 4</button>
<br>
<button [style]="stylesObj">Botão 5</button>
<br>
<button (click)="atualizarStyleObj()">Atualizar obj</button>
<button (click)="atualizarStyleObjCorreto()">Atualizar obj correto</button>
<br>
<button (click)="atualizarWidth()">Atualizar width</button>
<br>

<h1>CSS Class binding</h1>
<button [class.red-button]="isRedButton">Vermelho</button>
<button [class.green-button]="isGreenButton">Verde</button>

<button [class]="'red-button green-button'">Cor</button>

<button [class]="{ 'red-button': !isGreenButton, 'green-button': isGreenButton }">Objeto</button>
<button (click)="isGreenButton = false">Mudar cor do botão Objeto</button> -->
